
body{
  text-align: center;
  font-family: monospace;
  height:100%;
  width: 100%;
  background-image: url(https://previews.123rf.com/images/phochi1981/phochi19811709/phochi1981170900011/85204283-patr%C3%B3n-abstracto-con-rayas-verticales-sobre-fondo-de-textura-en-colores-retro-el-patr%C3%B3n-sin-fin-se-puede-u.jpg);
}
#root{
  height: 1000px;
  width: 850px;
  border-radius: 15px;
  background-color: white;
  margin-top: 60px;
  margin-left: 270px;

}
h1{

  font-size: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  color:  #0B4C5F;
  margin-top: 10px;
  margin-bottom: 1px;
}

h3{
  font-size: 23px;
  font-family: sans-serif;
  margin-left: 40px;
  margin-right: 100px;
  padding-bottom: 30px;
  padding-top: 1px;
  margin-top: 1px;
  text-align: left;
  color: gray;


}
#cont{
  width: 700px;
  height: 400px;
  border-style: solid;
  border-color: gray;
  margin-left: 70px;
  border-radius: 12px;
}
#intr{
  font-size: 17px;
  font-family: sans-serif;
  text-align: left;
  margin-left: 45px;
  color: #3c4a55;
  width: 300px;
  height: 50px;
}

#contr{
  width: 350px;
  height: 150px;
  float: left;
}
.parrafos{
  font-size: 20px;
  font-family: sans-serif;
  width: 50px;
  text-align: left;
  color: #5bb254;
  margin-left: 130px;
  margin-top: 50px;
}

#entrada{
  width: 350px;
  height: 50px;
  border-radius: 12px;
  padding-left: 10px;
  margin-left: 70px;
  font-size: 20px;
}
#offset{
  width: 100px;
  height: 50px;
  border-radius: 12px;
  padding-left: 10px;
  margin-left: 90px;
  font-size: 20px;

}
#num{
  width: 350px;
  height: 100px;
  float: right;

}
#resultados{

  width: 415px;
  height: 300px;
  border-radius: 12px;
  float:left;
  margin-left: 10px;


}
#resultadosDos{

  width: 390px;
  height: 300px;
  border-radius: 12px;
  float:right;
  margin-right: 30px;


}

#inputRes{
  width: 550px;
  height: 75px;
  margin-top: 60px;
  font-size: 35px;
  padding-top: 20px;
  background-color: #f4f4f7;
  text-align: center;
}

#parrafoRes{
  font-size: 25px;
  color:#5bb254;
}

button{
  width: 250px;
  height: 90px;
  border-radius: 30px;
  background-color:#0B4C5F;
  font-size: 35px;
  margin-top: 20px;
  color: white;

}
.botones:hover{
background-color:#5bb254;
font-family: monospace;
font-size: 35px;
}
